<!-- 
Landing page for the application.
Initially this will just link to a single user page to (hopefully) show
off some of the functionality of the BGG API.
-->
<h1 class="text-center"> Game Session </h1>
<h3 class="text-center"> Sample BGG API data <%= link_to 'here', sample_users_path %> </h3>
